<a href="https://colab.research.google.com/github/Umaporn19/data_viz_2022/blob/main/Final_Dataviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# สอบปลายภาค Final

# รายชื่อสมาชิกในกลุ่ม

**ชื่อกลุ่ม : kibbutzes**

* นางสาวนวลแพร พนาวัฒนวงศ์ รหัสนักศึกษา 623020525-0
* นางสาวศุภลักษณา บัวจันทร์ รหัสนักศึกษา 623020540-4
* นางสาวอุมาพร คำภิชัย รหัสนักศึกษา 623020547-0

**ที่มาของแหล่งข้อมูล**
* https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR0kZ6z2dy5AkdiKZ9_8nNrUUG6Xn4EH0pKfus-lTjiDbf_zn7UwMG0kJyU

# นำข้อมูลเข้า

In [1]:
import pandas as pd #import panda เพื่อจัดการตาราง

In [2]:
from google.colab import drive
drive.mount('/content/drive')  #เป็นการนำข้อมูลเพิ่มเข้าไปที่colab

Mounted at /content/drive

In [3]:
import os 
path = '/content/drive/My Drive/DATA_final' #เชื่อมกับไดร์ฟ

## แสดงข้อมูลทั้ง 2 ไฟล์

In [4]:
data_file_path = os.path.join(path,'alldb.csv')    #ชี้ที่อยู่ในไฟล์
data_alldb = pd.read_csv(data_file_path)
data_alldb #แสดงข้อมูล ของไฟล์ alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [5]:
data_file_path = os.path.join(path,'hospital_list.xlsx')    #ชี้ที่อยู่ในไฟล์
data_hospital_list = pd.read_excel(data_file_path)
data_hospital_list #แสดงข้อมูล ของไฟล์ hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## จัดการข้อมูล

In [6]:
new_table =  data_alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] #เลือกคอลัมม์ที่ต้องการ
new_table #แสดงค่า

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

In [7]:
new_table.isnull().any() #ตรวจดูค่า missing

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

In [8]:
new_table_drop = new_table.dropna() #.dropna เพื่อกำจัดค่า missing ออก
new_table_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

### ทำในส่วนของหนึ่ง

In [9]:
new_table_nueng =  data_alldb[['RowKey','phone','urine']] #เลือกคอลัมม์ที่ต้องการ
new_table_nueng #แสดงค่า

,RowKey,phone,urine
0,NaN,NaN,NaN
1,136FD222-FD9F-4E54-AE1F-7282A276B085,"iPhone10,4",NaN
2,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN
3,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,"iPhone13,4",ปกติ (เหลืองใส)
4,45197AF7-7CB4-470C-9ABB-37C092BD6B21,"iPhone13,4",ปกติ (เหลืองใส)
...,...,...,...
40030,6B5FA20F-190E-4021-8547-C12308024C6C,"iPhone13,4",NaN
40031,F48C51C0-A345-40D6-93F4-46213267E1B1,"iPhone10,5",ปกติ (เหลืองใส)
40032,A986BDAA-6D7C-4017-8E62-A3C104E946B9,"iPhone13,4",ปกติ (เหลืองใส)
40033,bbuogxulur.png,Samsung SM-A115F,NaN
40034,zttpqogiso.png,Samsung SM-A115F,ปกติ (เหลืองใส)

In [10]:
new_table_nueng.isnull().any() #ตรวจดูค่า missing

RowKey    True
phone     True
urine     True
dtype: bool

In [11]:
new_table_nueng_drop = new_table_nueng.dropna() #.dropna เพื่อกำจัดค่า missing ออก
new_table_nueng_drop

,RowKey,phone,urine
3,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,"iPhone13,4",ปกติ (เหลืองใส)
4,45197AF7-7CB4-470C-9ABB-37C092BD6B21,"iPhone13,4",ปกติ (เหลืองใส)
6,538F4D59-A921-46BF-82B0-E6834F98957E,"iPhone13,4",ปกติ (เหลืองใส)
9,9AF8428C-0616-47DE-AB4C-54F31EA31979,"iPhone13,4",ปกติ (เหลืองใส)
10,B7C1D24C-8090-4C2F-BC04-7CC4D09663DC,"iPhone13,4",ปกติ (เหลืองใส)
...,...,...,...
40028,lkwfdvltek.png,Samsung SM-A307GN,ปกติ (เหลืองใส)
40029,txslrhofvq.png,Samsung SM-N935F,ปกติ (เหลืองใส)
40031,F48C51C0-A345-40D6-93F4-46213267E1B1,"iPhone10,5",ปกติ (เหลืองใส)
40032,A986BDAA-6D7C-4017-8E62-A3C104E946B9,"iPhone13,4",ปกติ (เหลืองใส)
40034,zttpqogiso.png,Samsung SM-A115F,ปกติ (เหลืองใส)

In [12]:
new_table_nueng_drop.isnull().any() #ตรวจดูค่า missing

RowKey    False
phone     False
urine     False
dtype: bool

In [13]:
new_table_nueng_drop

,RowKey,phone,urine
3,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,"iPhone13,4",ปกติ (เหลืองใส)
4,45197AF7-7CB4-470C-9ABB-37C092BD6B21,"iPhone13,4",ปกติ (เหลืองใส)
6,538F4D59-A921-46BF-82B0-E6834F98957E,"iPhone13,4",ปกติ (เหลืองใส)
9,9AF8428C-0616-47DE-AB4C-54F31EA31979,"iPhone13,4",ปกติ (เหลืองใส)
10,B7C1D24C-8090-4C2F-BC04-7CC4D09663DC,"iPhone13,4",ปกติ (เหลืองใส)
...,...,...,...
40028,lkwfdvltek.png,Samsung SM-A307GN,ปกติ (เหลืองใส)
40029,txslrhofvq.png,Samsung SM-N935F,ปกติ (เหลืองใส)
40031,F48C51C0-A345-40D6-93F4-46213267E1B1,"iPhone10,5",ปกติ (เหลืองใส)
40032,A986BDAA-6D7C-4017-8E62-A3C104E946B9,"iPhone13,4",ปกติ (เหลืองใส)
40034,zttpqogiso.png,Samsung SM-A115F,ปกติ (เหลืองใส)

In [14]:
df = pd.DataFrame(new_table_nueng_drop) #เรียกดูชนิดแต่ละคอลัมม์
df.dtypes

RowKey    object
phone     object
urine     object
dtype: object

In [15]:
new_table_nueng_drop['RowKey'] = new_table_nueng_drop['RowKey'].astype(str) #เปลี่ยนคอลัมม์ RowKey ให้เป็น string

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
type(new_table_nueng_drop.iloc[0,0]) #ดูชนิดของแถวที่ 0 คอลัมม์ที่ 0 คือ ข้อมูลตัวแรกในข้อมูล RowKey ว่าคอลัมม์นั้นเป็นชนิดอะไร

str

In [17]:
new_table_nueng_drop['phone'] = new_table_nueng_drop['phone'].astype(str) #เปลี่ยนคอลัมม์ phone ให้เป็น string

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
type(new_table_nueng_drop.iloc[0,1]) #ดูชนิดของแถวที่ 0 คอลัมม์ที่ 1 คือ ข้อมูลตัวแรกในข้อมูล phone ว่าคอลัมม์นั้นเป็นชนิดอะไร

str

In [19]:
new_table_nueng_drop['urine'] = new_table_nueng_drop['urine'].astype(str) #เปลี่ยนคอลัมม์ phone ให้เป็น string

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
type(new_table_nueng_drop.iloc[0,2]) #ดูชนิดของแถวที่ 0 คอลัมม์ที่ 2 คือ ข้อมูลตัวแรกในข้อมูล phone ว่าคอลัมม์นั้นเป็นชนิดอะไร

str