<a href="https://colab.research.google.com/github/Umaporn19/data_viz_2022/blob/main/Project_Dataviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project กลุ่ม**

* ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) 
* ใช้ข้อมูลภูมิภาค 
* ข้อมูลที่สนใจ

# **รายชื่อสมาชิกในกลุ่ม**

**ชื่อกลุ่ม** : สามสาว

1.  นางสาวศศิกานต์ บุญมี       รหัสนักศึกษา 623020539-9  
2.  นางสาวอุมาพร   คำภิชัย        รหัสนักศึกษา 623020547-0
3.  นางสาวอาทิตยา แสงนิลเกิด    รหัสนักศึกษา 623021010-8

# **ที่มาของแหล่งข้อมูลทั้ง 3 แหล่ง**

- ข้อมูลชุดที่ 1 DATA COVID : https://data.go.th/

- ข้อมูลชุดที่ 2 ข้อมูลที่สนใจ --> ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA  : https://data.go.th/dataset/04_0101-ha-1-3-advanced-ha?fbclid=IwAR0GfPjiBB-Xqy6bOjlfKNHG

- ข้อมูลชุดที่ 3 ข้อมูลภูมิภาค : https://th.wikipedia.org/

# นำข้อมูลเข้า

In [136]:
import pandas as pd #import panda เพื่อจัดการตารางเล็กน้อย

In [137]:
from google.colab import drive
drive.mount('/content/drive')  #เป็นการนำข้อมูลเพิ่มเข้าไปที่ colab

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [138]:
import os
path = '/content/drive/My Drive/DATA_Final_Project'  #เชื่อมกับไดร์ฟ

In [139]:
data_file_path = os.path.join(path,'DATACOVID_1.csv')    #ชี้ที่อยู่ในไฟล์
data_1 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# ข้อมูลชุดที่ 1 Data Covid

### ตารางที่ 1 ข้อมูลโควิด วันที่ 12/01/2020 ถึง 12/08/2021

In [140]:
data_1 #แสดงข้อมูลชุดที่ 1 ออกมาเป็นตาราง จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [141]:
data_1.isnull().any() #ตรวจสอบดูว่ามีค่า missing มั้ย

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [142]:
data_1_drop = data_1.dropna() #กำจัดค่า missing โดนใช้ .dropna()
data_1_drop #แสดงค่า จะเห็นว่าค่า missing หายไปแล้ว

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
839391,839392,12/8/2021,11/8/2021,หญิง,83.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,วัฒนา
839392,839393,12/8/2021,11/8/2021,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางขุนเทียน
839393,839394,12/8/2021,11/8/2021,หญิง,43.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ประเวศ
839394,839395,12/8/2021,11/8/2021,หญิง,74.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ธนบุรี
839395,839396,12/8/2021,11/8/2021,ชาย,29.0,ปี,Thailand,กรุงเทพมหานคร,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,ประเวศ

In [143]:
data_1_drop.isnull().any() #ไม่มีค่า missing แล้ว

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

### ตารางที่ 2 ข้อมูลโควิด วันที่ 12/08/2021 - 25/10/2021

In [144]:
data_file_path = os.path.join(path,'DATACOVID_2.csv')    #แสดงข้อมูลชุดที่ 2 ออกมาเป็นตาราง 
data_2 = pd.read_csv(data_file_path) 
data_2 #แสดงค่า จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [145]:
data_2_drop = data_2.dropna() #กำจัดค่า missing โดนใช้ .dropna()
data_2_drop  #แสดงค่า จะเห็นว่าค่า missing หายไปแล้ว

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
249,817239,12/8/2021,11/8/2021,ชาย,48.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
250,817240,12/8/2021,11/8/2021,หญิง,19.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
251,817241,12/8/2021,11/8/2021,หญิง,37.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
252,817242,12/8/2021,11/8/2021,ชาย,46.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
253,817243,12/8/2021,11/8/2021,ชาย,60.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
...,...,...,...,...,...,...,...,...,...,...,...
1041962,1858952,25/10/2021,24/10/2021,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041963,1858953,25/10/2021,24/10/2021,หญิง,39.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041964,1858954,25/10/2021,24/10/2021,ชาย,80.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041965,1858955,25/10/2021,24/10/2021,หญิง,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041966,1858956,25/10/2021,24/10/2021,หญิง,53.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม

### ตารางที่ 3 ข้อมูลโควิด วันที่ 26/10/2021 - 27/02/2022

In [146]:
data_file_path = os.path.join(path,'DATACOVID_3.csv')    #แสดงข้อมูลชุดที่ 3 ออกมาเป็นตาราง 
data_3 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [147]:
data_3 #แสดงค่า จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [148]:
data_3.head() #ใช้คำสั่ง .head เพื่อที่จะดูหัวข้อ จะเห็นว่ามี คอลัมม์ Unnamed: 11 ซึ่งไม่รู้ว่าเป็นค่าอะไร

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

### ตารางที่ 3 ลบคอลัมน์ Unnamed: 11

In [149]:
data_3n = data_3.drop('Unnamed: 11', axis=1) #axis=1 คือ คอลัมน์

In [150]:
data_3n #แสดงข้อมูล จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [151]:
data_3n.isnull().any() #ดูว่ามีค่า missing มั้ย

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [152]:
data_3n_drop = data_3n.dropna() #กำจัดค่า missing โดนใช้ .dropna()
data_3n_drop #แสดงค่า จะเห็นว่าค่า missing หายไปแล้ว

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010370,2869528,27/2/2022,26/2/2022,หญิง,7.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางกอกน้อย
1010371,2869529,27/2/2022,26/2/2022,ชาย,38.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010372,2869530,27/2/2022,26/2/2022,หญิง,58.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010373,2869531,27/2/2022,26/2/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
1010374,2869532,27/2/2022,26/2/2022,ชาย,64.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี

In [153]:
data_3n_drop.isnull().any() #ดูว่ามีค่า missng มั้ย

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

### ตารางที่ 4  ข้อมูลโควิด 28/02/2022 - 15/03/2022

In [154]:
data_file_path = os.path.join(path,'DATACOVID_4.csv')   #แสดงข้อมูลชุดที่ 4 ออกมาเป็นตาราง 
data_4 = pd.read_csv(data_file_path)

In [155]:
data_4  #แสดงค่า จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [156]:
data_4_drop = data_4.dropna() #กำจัดค่า missing โดนใช้ .dropna()
data_4_drop   #แสดงค่า จะเห็นว่าค่า missing หายไปแล้ว

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [157]:
data_4_drop.isnull().any() #ดูว่ามีค่า missing มั้ย

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

### รวมตารางโควิดเข้าด้วยกัน (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)

### **คำอธิบายตาราง** 

* No. : รหัสผู้ป่วย
* Announce Date : วันที่แถลงข่าว
* Notification Date :	วันที่กระทรวงได้รับรายงาน
* Sex : เพศผู้ป่วย
* Age : อายุของผู้ป่วย
* unit : ปี 
* Nationality :  สัญชาติ
* Province of isolation : จังหวัดที่รักษาตัว
* risk : เสี่ยง
* Province of onset : จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset :  อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย

In [158]:
data_add = pd.concat([data_1_drop,data_2_drop,data_3n_drop,data_4_drop])  #รวมตารางโควิดเข้าด้วยกันโดยใช้ concat
data_add #แสดงค่า จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [159]:
data_add.isnull().any() #ดูว่ามีค่า missing มั้ย จะเห็นว่าไม่มีค่า missing แล้ว

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [160]:
set(data_add['province_of_isolation']) #ดูค่าในคอลัมม์ province_of_isolation ซึ่งพบว่า มีจังหวัด กทม ที่รูปแบบไม่เหมือนแบบอื่น และ ซ้ำกัน

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [161]:
data_add['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร'}, inplace=True) #ใช้คำสั่ง replace แทนที่ตัวที่ผิดและซ้ำกัน

In [162]:
set(data_add['province_of_isolation']) #ลองรีนค่าที่แก้แล้วออกมาดู

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [163]:
len(set(data_add['province_of_isolation'])) #ดูจำนวนว่ามีเท่าไหร่

78

In [164]:
set(data_add['province_of_onset']) #ดูค่าในคอลัมม์ province_of_onset ซึ่งพบว่ามีข้อความที่ซ้ำกัน

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรีมย์',
 'ปจ',
 'ปทุทธานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปััตตานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระยอง',
 'ระยอง\xa0',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อำนาจเจริญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ระบุ'}

In [165]:
data_add['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','USA':'ไม่มีข้อมูล','\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
                                            '\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี','กระบี่':'กระบี่',
                                            'กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร','กรุงเทพมหานคร':'กรุงเทพมหานคร', 'กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร','กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร',
                                            'กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต','กัมพูชา':'ไม่มีข้อมูล','กาญจนบุรี':'กาญจนบุรี','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธิ์':'กาฬสินธุ์','กาฬสินธุ์':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์',
                                            'กาฬสินธ์':'กาฬสินธุ์','กำแพง':'กำแพงเพชร','กำแพงเพชร':'กำแพงเพชร', 'กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร','ขอนแก่น':'ขอนแก่น','ขอนแก่น\xa0':'ขอนแก่น','ขัยนาท':'ชัยนาท',
                                            'ขัยภูมิ':'ชัยภูมิ','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่มีข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร','จ.ภูเก็ต':'ภูเก็ต', 'จ.ราชบุรี':'ราชบุรี',
                                            'จังหวัดสมุทรสาคร':'สมุทรสาคร','จันทบุรี':'จันทรบุรี','ฉะเชองเทราร':'ฉะเชิงเทรา','ฉะเชิงเทรา':'ฉะเชิงเทรา','ชมพร':'ชุมพร','ชลบุรี':'ชลบุรี','ชลบุรี\t':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชอนแก่น':'ขอนแก่น',
                                            'ชัยนาถ':'ชัยนาท','ชัยนาท':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ':'ชัยภูมิ','ชัยภูมิ\xa0':'ชัยภูมิ','ชุมพร':'ชุมพร', 'ชุุมพร':'ชุมพร','ชุุุมพร':'ชุมพร','ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร',
                                            'ตรัง':'ตรัง','ตรััง':'ตรัง','ตราด':'ตราด','ตราด\xa0':'ตราด','ตาก':'ตาก','ต่างจังหวัด':'ไม่มีข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครนปฐม':'นครปฐม',
                                            'นครนาชสีมา':'นครราชสีมา','นครนายก':'นครนายก','นครปฐม':'นครปฐม','นครปฐม\xa0':'นครปฐม','นครปบม':'นครปฐม','นครพนม':'นครพนม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก',
                                            'นครราชธานี':'นครราชสีมา','นครราชศรีมา':'นครราชสีมา','นครราชสสีมา':'นครราชสีมา','นครราชสีมา':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา',
                                            'นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศรีธรรมราช':'นครศรีธรรมราช','นครศรีฯ':'นครศรีธรรมราช',
                                            'นครศรีีธรรมราช':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช','นครศร๊ะรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสวรรค':'นครสวรรค์','นครสวรรค์':'นครสวรรค์','นครสวรรค์\xa0':'นครสวรรค์',
                                            'นครสีธรรมราช':'นครศรีธรรมราช','นครฯ':'นครศรีธรรมราช','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','นตรนายก':'นครนายก','นตรปฐม':'นครปฐม',
                                            'นนทบุรี':'นนทบุรี','นนทบุรี\xa0':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส':'นราธิวาส','นราธิวาส\u200b':'นราธิวาส',
                                            'นราธฺวาส':'นราธิวาส','นอกเขต':'ไม่มีข้อมูล','นาราธิวาส':'นราธิวาส','นาวัง':'หนองบัวลำภู','น่าน':'น่าน','น่าน/ฉะเชิงเทรา':'น่าน','บางกรวย':'นนทบุรี','บางกะปิ':'กรุงเทพมหานคร','บางนา':'กรุงเทพมหานคร',
                                            'บางปะอิน':'พระนครศรีอยุธยา','บางละมุง':'ชลบุรี','บางเพียง':'สมุทรปราการ','บึงกาฬ':'บึงกาฬ','บึงโขงหลง':'บึงกาฬ','บุรีรัมภ์':'บุรีรัมย์','บุรีรัมย์':'บุรีรัมย์','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์',
                                            'ปจ':'ไม่มีข้อมูล','ปทุทธานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี', 'ปทุมธาน':'ปทุมธานี','ปทุมธานี':'ปทุมธานี','ปทุมธานี.':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี',
                                            'ปทุุมธานี':'ปทุมธานี','ปธุมธานี':'ปทุมธานี','ปมุมธานี':'ปทุมธานี','ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
                                            'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์','ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
                                            'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์','ประจวบฯ':'ประจวบคีรีขันธ์','ประทุมธานี':'ปทุมธานี',
                                            'ปราจีนบุรี':'ปราจีนบุรี','ปราจีบุรี':'ปราจีนบุรี','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่','ปอยเปต':'ไม่มีข้อมูล','ปัตตนรี':'ปัตตานี','ปัตตานนี':'ปัตตานี','ปัตตานี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปัตาตานี':'ปัตตานี',
                                            'ปััตตานี':'ปัตตานี','ป่าโมก':'อ่างทอง','พม่า':'ไม่มีข้อมูล','พรหมพิราม':'พิษณุโลก','พระนครศรียุธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
                                            'พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา','พะเยา':'พะเยา','พังงา':'พังงา','พัทยา':'ชลบุรี','พัทลุง':'พัทลุง','พัทลุุง':'พัทลุง',
                                            'พัังงา':'พังงา','พิจิตร':'พิจิตร','พิษณุโลก':'พิษณุโลก','พิษณุโลก\xa0':'พิษณุโลก','พิษณูโลก':'พิษณุโลก','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต','ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็ต':'ภูเก็ต',
                                            'ภูเก็็ต':'ภูเก็ต','มหาสาคาม':'มหาสารคาม','มหาสารคาม':'มหาสารคาม','มาเลเซีย':'ไม่มีข้อมูล','มุกดาหาร':'มุกดาหาร','ยะลา':'ยะลา','ยานนาวา':'กรุงเทพมหานคร','ยโสธร':'ยโสธร','ร.จ.จ.นราธิวาส':'นราธิวาส',
                                            'รอ':'ร้อยเอ็ด','ระนอง':'ระนอง','ระยอง':'ระยอง','ระยอง\xa0':'ระยอง','ราชบบุรี':'ราชบุรี','ราชบุรี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี','ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ร้อยเอ็ด':'ร้อยเอ็ด',
                                            'ลบุรี':'ลพบุรี','ลพบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลาดกระบัง':'กรุงเทพมหานคร','ลาดพร้าว':'กรุงเทพมหานคร','ลาว':'ไม่มีข้อมูล','ลำปาง':'ลำปาง','ลำพูน':'ลำพูน',
                                            'ลำลูกกา':'ปทุมธานี','วังทอง':'ลำปาง','วิเศษชัยชาญ':'พิษณุโลก','ศรีษะสะเกษ':'ศรีสะเกษ','ศรีษะเกษ':'ศรีสะเกษ','ศรีสระเกษ':'ศรีสะเกษ','ศรีสะเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ',
                                            'สกลนคร':'สกลนคร','สครสวรรค์':'นครสวรรค์','สงขลา':'สงขลา','สงขลา\u200b':'สงขลา','สตูล':'สตูล','สถานที่ทำงาน':'ไม่มีข้อมูล','สพรรณบุรี':'สุพรรณบุรี','สมถทรปราการ':'สมุทรปราการ',
                                            'สมทรสงคราม':'สมุทรสงคราม','สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่มีข้อมูล','สมุทปราการ':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทรปรากา':'สมุทรปราการ',
                                            'สมุทรปราการ':'สมุทรปราการ','สมุทรปราการ\xa0':'สมุทรปราการ','สมุทรศาคร':'สมุทรสาคร','สมุทรสงคราม':'สมุทรสงคราม','สมุทรสาคร':'สมุทรสาคร','สมุทรสาคร\xa0':'สมุทรสาคร',
                                            'สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราปราการ':'สมุทรปราการ','สมุทราสาคร':'สมุทรสาคร','สมุทสงคราม':'สมุทรสงคราม',
                                            'สมุทสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี','สมุุทรปราการ':'สมุทรปราการ','สมุุทรสงคราม':'สมุทรสงคราม','สมุุทรสาคร':'สมุทรสาคร','สระก้ว':'สระแก้ว',
                                            'สระบุรี':'สระบุรี','สระบุรี\xa0':'สระบุรี','สระแก้ว':'สระแก้ว','สวิสเซอร์แลนด์':'ไม่มีข้อมูล','สะพานสูง':'กรุงเทพมหานคร','สะแก้ว':'สระแก้ว','สัตหีบ':'ชลบุรี','สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่มีข้อมูล',
                                            'สิงห์บุรี':'สิงห์บุรี','สิงห์บุรี\xa0':'สิงห์บุรี','สุทรปราการ':'สมุทรปราการ','สุพรรญบุรี':'สุพรรณบุรี','สุพรรณบุรั':'สุพรรณบุรี','สุพรรณบุรี':'สุพรรณบุรี','สุมทรปราการ':'สมุทรปราการ',
                                            'สุมทรสาคร':'สมุทรสาคร','สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี','สุราษฎธานี':'สุราษฎร์ธานี',
                                            'สุราษฎร์':'สุราษฎร์ธานี','สุราษฎร์ธานี':'สุราษฎร์ธานี','สุราษฎร์ฯ':'สุราษฎร์ธานี','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฎ์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุราษธานี':'สุราษฎร์ธานี',
                                            'สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์','สุรินทร์':'สุรินทร์','สุรินทร์ 32150':'สุรินทร์','สุรินทร์,รีสะเกษ':'สุรินทร์','สุรินทร์\xa0':'สุรินทร์',
                                            'สุริมทร์':'สุรินทร์','สุริะแก้ว':'สระแก้ว','สุวรรณภูมิ':'สมุทรปราการ','สุุราษฎร์ธานี':'สุราษฎร์ธานี','สุุราษฏร์ธานี':'สุราษฎร์ธานี','สุุราษฯ':'สุราษฎร์ธานี','สุุรินทร์':'สุรินทร์','สุุุโขทัย':'สุโขทัย','สุโขทับ':'สุโขทัย',
                                            'สุโขทัย':'สุโขทัย','สุโขทัย\xa0':'สุโขทัย','หนวงบัวลำภู':'หนองบัวลำภู','หนองคาย':'หนองคาย','หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู','หนองบัวลำพูน':'หนองบัวลำพูน','หนองบัวลำภู':'หนองบัวลำภู',
                                            'หนองบัวลําภู':'หนองบัวลำภู','หนองบััวลำภู':'หนองบัวลำภู','หัวหิน':'ประจวบคีรีขันธ์','ห้วยขวาง':'กรุงเทพมหานคร','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อำนาจเจริญ':'อำนาจเจริญ',
                                            'อำนาญเจริญ':'อำนาจเจริญ','อำนาเจริญ':'อำนาจเจริญ','อิสราเอล':'ไม่มีข้อมูล','อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรธานีี':'อุดรธานี','อุดรราชธานี':'อุดรธานี',
                                            'อุตรดิตถ์':'อุตรดิตถ์','อุตรดิตถ์\xa0':'อุตรดิตถ์','อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุทัยธานี':'อุทัยธานี','อุทัยานี':'อุทัยธานี','อุบลราขธานี':'อุบลราชธานี','อุบลราชธานี':'อุบลราชธานี',
                                            'อุบลราชธานี\xa0':'อุบลราชธานี','อุุครดิตถ์':'อุตรดิตถ์','อุุดรธาน':'อุตรดิตถ์','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี','อ่งทอง':'อ่างทอง','อ่างทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง',
                                            'อํานาจเจริญ':'อำนาจเจริญ','เชิงเทรา':'ฉะเชิงเทรา','เชียงราย':'เชียงราย','เชียงใหม่':'เชียงใหม่','เชีียงราย':'เชียงราย','เพขรบุรี':'เพชรบุรี','เพขรบูรณื':'เพชรบูรณ์','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์',
                                            'เพชรบุรี':'เพชรบุรี','เพชรบุรึ':'เพชรบุรี','เพชรบุุรี':'เพชรบุรี','เพชรบุูรณ์':'เพชรบูรณ์','เพชรบูรณ์':'เพชรบูรณ์','เพชรบูรณ์\xa0':'เพชรบูรณ์','เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมือง':'ไม่มีข้อมูล',
                                            'เมืองตาก':'ตาก','เมืองน่าน':'น่าน','เมืองปัตตานี':'ปัตตานี','เรือ':'ไม่มีข้อมูล','เลย':'เลย','เลย\xa0':'เลย','เวียงจันทร์':'ไม่มีข้อมูล','แพร่':'แพร่','แม่ทะ':'ลำปาง','แม่ฮ่องสอน':'แม่ฮ่องสอน','แล้วป่วย':'ไม่มีข้อมูล','โพธิ์ทอง':'อ่างทอง',
                                            'ไชโย':'อ่างทอง','ขลบุรี':'ชลบุรี','ไม่ระบุ':'ไม่มีข้อมูล'}, inplace=True) #ใช้ replace ใช้การแก้คำผิดต่าง ๆ

In [166]:
set(data_add['province_of_onset']) #ดูข้อมูลที่แก้แล้ว

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทรบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่มีข้อมูล'}

In [167]:
len(set(data_add['province_of_onset'])) #เช็กจำนวน

79

In [168]:
data_add.isnull().any()  #ตรวจสอบว่ามีค่า missing มั้ย

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

# ข้อมูลชุดที่ 2 ข้อมูลที่สนใจ

In [169]:
data_file_path = os.path.join(path,'wave3_coviddata.csv')   #ดึงข้อมูลจากที่อยู่ของไฟล์
data_5 = pd.read_csv(data_file_path)
data_5  #แสดงค่า

,txn_date,gender,age_number,age_range,nationality,job,risk,patient_type,province
0,1/4/2021,ชาย,29.0,20-29 ปี,Burma,รับจ้างทั่วไป / ฟรีแลนซ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,2.สัมผัสผู้ติดเชื้อ,กรุงเทพมหานคร
1,1/4/2021,ชาย,33.0,30-39 ปี,Thailand,ข้าราชการ/พนักงานของรัฐ / รัฐวิสาหกิจ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,2.สัมผัสผู้ติดเชื้อ,กรุงเทพมหานคร
2,1/4/2021,ชาย,24.0,20-29 ปี,Thailand,NaN,สถานบันเทิง,1.ผู้ป่วย PUI,กรุงเทพมหานคร
3,1/4/2021,หญิง,62.0,60-69 ปี,Thailand,NaN,State Quarantine,3.จากต่างประเทศ อยู่ใน Quarantine,กรุงเทพมหานคร
4,1/4/2021,ชาย,27.0,20-29 ปี,Burma,พนักงานบริษัท/โรงงาน,Cluster สมุทรสาคร,8.ขอตรวจหาเชื้อเอง,สมุทรสาคร
...,...,...,...,...,...,...,...,...,...
4995,13/4/2021,หญิง,32.0,30-39 ปี,NaN,NaN,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4996,13/4/2021,ชาย,21.0,20-29 ปี,NaN,NaN,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4997,13/4/2021,หญิง,27.0,20-29 ปี,NaN,NaN,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4998,13/4/2021,หญิง,24.0,20-29 ปี,NaN,NaN,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4999,13/4/2021,ชาย,30.0,30-39 ปี,NaN,NaN,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่

In [170]:
data_5.isnull().any() #False = ไม่มี Missing True = มี Missing พบว่า มี missing ทุกคอลัมน์

txn_date        False
gender          False
age_number       True
age_range       False
nationality      True
job              True
risk             True
patient_type    False
province        False
dtype: bool

In [171]:
data_5['age_number'].mean()

31.436383344065252

In [172]:
data_5fill= data_5.fillna(value={'risk':'ไม่ระบุ', 'nationality':'ไม่ระบุ', 'job':'ไม่ระบุ','age_number':data_5['age_number'].mean()})
data_5fill

,txn_date,gender,age_number,age_range,nationality,job,risk,patient_type,province
0,1/4/2021,ชาย,29.0,20-29 ปี,Burma,รับจ้างทั่วไป / ฟรีแลนซ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,2.สัมผัสผู้ติดเชื้อ,กรุงเทพมหานคร
1,1/4/2021,ชาย,33.0,30-39 ปี,Thailand,ข้าราชการ/พนักงานของรัฐ / รัฐวิสาหกิจ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,2.สัมผัสผู้ติดเชื้อ,กรุงเทพมหานคร
2,1/4/2021,ชาย,24.0,20-29 ปี,Thailand,ไม่ระบุ,สถานบันเทิง,1.ผู้ป่วย PUI,กรุงเทพมหานคร
3,1/4/2021,หญิง,62.0,60-69 ปี,Thailand,ไม่ระบุ,State Quarantine,3.จากต่างประเทศ อยู่ใน Quarantine,กรุงเทพมหานคร
4,1/4/2021,ชาย,27.0,20-29 ปี,Burma,พนักงานบริษัท/โรงงาน,Cluster สมุทรสาคร,8.ขอตรวจหาเชื้อเอง,สมุทรสาคร
...,...,...,...,...,...,...,...,...,...
4995,13/4/2021,หญิง,32.0,30-39 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4996,13/4/2021,ชาย,21.0,20-29 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4997,13/4/2021,หญิง,27.0,20-29 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4998,13/4/2021,หญิง,24.0,20-29 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
4999,13/4/2021,ชาย,30.0,30-39 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่

In [173]:
data_5fill.isnull().any()

txn_date        False
gender          False
age_number      False
age_range       False
nationality     False
job             False
risk            False
patient_type    False
province        False
dtype: bool

# ข้อมูลชุดที่ 3 ข้อมูลภูมิภาค

In [174]:
dataregion = [['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ตาก','ตะวันออก','เหนือ','เหนือ','เหนือ'],
                ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
                ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
                ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
                ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
                ['เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
                ['นครสวรรค์','กลาง','เหนือ','กลาง','เหนือ'],
                ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
                ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
                ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
                ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
                ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
                ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
                ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรสาคร','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
                ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
                ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
                ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['สุราษฎร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']]  

header = ['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)','4 ภูมิภาค (การเมือง)','6 ภูมิภาค (อุตุนิยมวิทยา)','5 ภูมิภาค (การท่องเที่ยว)']  #หัวตาราง

In [175]:
df_dataregion = pd.DataFrame.from_records(dataregion,columns=header)  #สร้างข้อมูลออกมาเป็นในรูปแบบตาราง
df_dataregion #แสดงค่า

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [176]:
df_dataregion.isnull().any()  #False = ไม่มี Missing True = มี Missing พบว่า มี missing ทุกคอลัมน์ #จะเห็นว่าไม่มี missing

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

# เพิ่มพิกัด

In [177]:
!pip install geopandas #ทำการติดตั้ง  geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

In [178]:
import geopandas # For working with geographical data
import pandas as pd

In [179]:
th_geojson=geopandas.read_file('/content/drive/MyDrive/DATA_Final_Project/thai.json') #ดึงข้อมูลจากไดร์ฟ ที่ชื่อว่า thai.json จากโฟร์เดอร์ DATA_Final_Project
th_geojson.head() #แสดงค่า เอาแค่ส่วนด้านบน

                  name                                           geometry
0         Mae Hong Son  POLYGON ((98.47780 19.70563, 98.48260 19.66410...
1             Chumphon  POLYGON ((99.50343 10.99705, 99.51157 10.86636...
2  Nakhon Si Thammarat  POLYGON ((100.12963 7.80172, 100.04457 7.82446...
3               Phuket  POLYGON ((98.41863 7.90375, 98.43165 7.91743, ...
4            Phang-nga  MULTIPOLYGON (((98.53631 8.11514, 98.60239 8.0...

In [180]:
th_geojson #แสดงค่าทั้งหมด

                   name                                           geometry
0          Mae Hong Son  POLYGON ((98.47780 19.70563, 98.48260 19.66410...
1              Chumphon  POLYGON ((99.50343 10.99705, 99.51157 10.86636...
2   Nakhon Si Thammarat  POLYGON ((100.12963 7.80172, 100.04457 7.82446...
3                Phuket  POLYGON ((98.41863 7.90375, 98.43165 7.91743, ...
4             Phang-nga  MULTIPOLYGON (((98.53631 8.11514, 98.60239 8.0...
..                  ...                                                ...
72        Nakhon Phanom  POLYGON ((104.75791 16.81889, 104.73452 16.804...
73             Mukdahan  POLYGON ((104.75791 16.81889, 104.77901 16.704...
74           Narathiwat  POLYGON ((101.72350 6.57438, 101.80836 6.46454...
75              Pattani  POLYGON ((101.72350 6.57438, 101.67837 6.57712...
76            Bueng Kan  POLYGON ((104.20333 18.01864, 104.12468 17.999...

[77 rows x 2 columns]

In [181]:
set(th_geojson['name']) #ดูค่าในคอลัมม์ name

{'Amnat Charoen',
 'Ang Thong',
 'Bangkok',
 'Bueng Kan',
 'Buri Ram',
 'Chachoengsao',
 'Chai Nat',
 'Chaiyaphum',
 'Chanthaburi',
 'Chiang Mai',
 'Chiang Rai',
 'Chon Buri',
 'Chumphon',
 'Kalasin',
 'Kamphaeng Phet',
 'Kanchanaburi',
 'Khon Kaen',
 'Krabi',
 'Lampang',
 'Lamphun',
 'Loei',
 'Lop Buri',
 'Mae Hong Son',
 'Maha Sarakham',
 'Mukdahan',
 'Nakhon Nayok',
 'Nakhon Pathom',
 'Nakhon Phanom',
 'Nakhon Ratchasima',
 'Nakhon Sawan',
 'Nakhon Si Thammarat',
 'Nan',
 'Narathiwat',
 'Nong Bua Lam Phu',
 'Nong Khai',
 'Nonthaburi',
 'Pathum Thani',
 'Pattani',
 'Phang-nga',
 'Phatthalung',
 'Phayao',
 'Phetchabun',
 'Phetchaburi',
 'Phichit',
 'Phitsanulok',
 'Phra Nakhon Si Ayutthaya',
 'Phrae',
 'Phuket',
 'Prachin Buri',
 'Prachuap Khiri Khan',
 'Ranong',
 'Ratchaburi',
 'Rayong',
 'Roi Et',
 'Sa kaeo',
 'Sakon Nakhon',
 'Samut Prakarn',
 'Samut Sakhon',
 'Samut Songkhram',
 'Saraburi',
 'Satun',
 'Si Sa Ket',
 'Sing Buri',
 'Songkhla',
 'Sukhothai',
 'Suphan Buri',
 'Surat Thani',
 'Surin',
 'Tak',
 'Trang',
 'Trat',
 'Ubon Ratchathani',
 'Udon Thani',
 'Uthai Thani',
 'Uttaradit',
 'Yala',
 'Yasothon'}

In [182]:
th_geojson['name'].replace({'Prachuap Khiri Khan':'ประจวบคีรีขันธ์','Kanchanaburi':'กาญจนบุรี','Chon Buri':'ชลบุรี','Trat':'ตราด','Nakhon Pathom':'นครปฐม',
                                            'Samut Songkhram':'สมุทรสงคราม','Samut Sakhon':'สมุทรสาคร','Uthai Thani':'อุทัยธานี','Bangkok':'กรุงเทพมหานคร','Prachin Buri':'ปราจีนบุรี','Krabi':'กระบี่',
                                             'Phra Nakhon Si Ayutthaya':'พระนครศรีอยุธยา','Si Sa Ket':'ศรีสะเกษ','Phuket':'ภูเก็ต','Kalasin':'กาฬสินธุ์','Kamphaeng Phet':'กำแพงเพชร','Khon Kaen':'ขอนแก่น','Chai Nat':'ชัยนาท',
                                            'Chaiyaphum':'ชัยภูมิ','Ratchaburi':'ราชบุรี','Chanthaburi':'จันทรบุรี','Chachoengsao':'ฉะเชิงเทรา','Chumphon':'ชุมพร','Lop Buri':'ลพบุรี','Ubon Ratchathani':'อุบลราชธานี','Trang':'ตรัง','Tak':'ตาก','Sukhothai':'สุโขทัย','Nakhon Ratchasima':'นครราชสีมา','Nakhon Nayok':'นครนายก','Nakhon Phanom':'นครพนม',
                                            'Nakhon Si Thammarat':'นครศรีธรรมราช','Nakhon Sawan':'นครสวรรค์','Nonthaburi':'นนทบุรี','Narathiwat':'นราธิวาส','Nong Bua Lam Phu':'หนองบัวลำภู','Nan':'น่าน','Samut Prakarn':'สมุทรปราการ','Bueng Kan':'บึงกาฬ','Buri Ram':'บุรีรัมย์',
                                            'Pathum Thani':'ปทุมธานี','Rayong':'ระยอง','Pattani':'ปัตตานี','Ang Thong':'อ่างทอง','Phitsanulok':'พิษณุโลก','Phayao':'พะเยา','Phang-nga':'พังงา','Phatthalung':'พัทลุง','Phichit':'พิจิตร','Maha Sarakham':'มหาสารคาม','Mukdahan':'มุกดาหาร','Yala':'ยะลา','Yasothon':'ยโสธร',
                                            'Roi Et':'ร้อยเอ็ด','Ranong':'ระนอง','Lampang':'ลำปาง','Lamphun':'ลำพูน','Sakon Nakhon':'สกลนคร','Songkhla':'สงขลา','Satun':'สตูล','Suphan Buri':'สุพรรณบุรี',
                                            'Sa kaeo':'สระแก้ว','Saraburi':'สระบุรี','Sing Buri':'สิงห์บุรี','Surat Thani':'สุราษฎร์ธานี',
                                            'Surin':'สุรินทร์','Nong Khai':'หนองคาย','Amnat Charoen':'อำนาจเจริญ',
                                            'Udon Thani':'อุดรธานี','Uttaradit':'อุตรดิตถ์','Chiang Rai':'เชียงราย','Chiang Mai':'เชียงใหม่','Phetchaburi':'เพชรบุรี','Phetchabun':'เพชรบูรณ์',
                                            'Loei':'เลย','Phrae':'แพร่','Mae Hong Son':'แม่ฮ่องสอน'}, inplace=True) #ใช้ replace ใช้การแก้จากจังหวัดเป็นภาษาอังกฤษให้เป็นไทย

In [183]:
set(th_geojson['name']) #ดูค่าในคอลัมม์ name ที่แก้แล้ว

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทรบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [184]:
th_geojson #ลองรันตารางใหม่อีกรอบหลังจากแก้ชื่แล้ว

             name                                           geometry
0      แม่ฮ่องสอน  POLYGON ((98.47780 19.70563, 98.48260 19.66410...
1           ชุมพร  POLYGON ((99.50343 10.99705, 99.51157 10.86636...
2   นครศรีธรรมราช  POLYGON ((100.12963 7.80172, 100.04457 7.82446...
3          ภูเก็ต  POLYGON ((98.41863 7.90375, 98.43165 7.91743, ...
4           พังงา  MULTIPOLYGON (((98.53631 8.11514, 98.60239 8.0...
..            ...                                                ...
72         นครพนม  POLYGON ((104.75791 16.81889, 104.73452 16.804...
73       มุกดาหาร  POLYGON ((104.75791 16.81889, 104.77901 16.704...
74       นราธิวาส  POLYGON ((101.72350 6.57438, 101.80836 6.46454...
75        ปัตตานี  POLYGON ((101.72350 6.57438, 101.67837 6.57712...
76         บึงกาฬ  POLYGON ((104.20333 18.01864, 104.12468 17.999...

[77 rows x 2 columns]

# รวมตาราง ภูมิภาคเข้ากับพิกัด

In [185]:
dataregion_th_geojson = df_dataregion.merge(th_geojson,how='left',left_on='จังหวัด',right_on='name')
dataregion_th_geojson

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),name,geometry
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อำนาจเจริญ,"POLYGON ((105.10698 16.09585, 105.09124 16.054..."
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,บึงกาฬ,"POLYGON ((104.20333 18.01864, 104.12468 17.999..."
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,บุรีรัมย์,"POLYGON ((103.11575 15.48229, 103.10268 15.428..."
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ชัยภูมิ,"POLYGON ((101.75144 16.67035, 101.78855 16.642..."
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,กาฬสินธุ์,"POLYGON ((103.65014 17.04387, 103.64719 17.021..."
...,...,...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,พังงา,"MULTIPOLYGON (((98.53631 8.11514, 98.60239 8.0..."
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ภูเก็ต,"POLYGON ((98.41863 7.90375, 98.43165 7.91743, ..."
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ระนอง,"MULTIPOLYGON (((98.41668 9.73347, 98.39812 9.7..."
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,"MULTIPOLYGON (((99.24781 6.57486, 99.25758 6.5..."
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ตรัง,"MULTIPOLYGON (((99.44581 7.25092, 99.45387 7.2..."

# รวมตารางข้อมูลทั้งหมด


* Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)  (data_add3)
* ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA  (data_5re_drop)
* ข้อมูลภูมิภาค (df_dataregion)

# รวมตาราง ข้อมูลโควิด Covid กับ ตาราง ภูมิภาค

In [186]:
data_total1 = data_add.merge(dataregion_th_geojson,how='left',left_on='province_of_onset',right_on='จังหวัด') #รวมตาราง data_add ข้อมูลโควิดที่รวมกัน 4 ตาราง merge กับตารางภูมิภาค โดยตารางข้อมูลโควิดอยู่ด้านซ้าย ตารางข้อมูลภูมิภาคอยู่ต่อทางด้านขวา 
data_total1 #แสดงค่า จะเห็นว่ามีค่า missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),name,geometry
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง,กลาง,กลาง,กลาง,ปทุมธานี,"POLYGON ((100.91242 14.21391, 100.90529 13.955..."
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สุราษฎร์ธานี,"MULTIPOLYGON (((99.70346 9.52131, 99.66814 9.5..."
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ขอนแก่น,"POLYGON ((103.11312 16.91282, 103.13420 16.885..."
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ร้อยเอ็ด,"POLYGON ((104.35588 16.32340, 104.32576 16.257..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361303,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361304,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361305,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361306,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."

In [187]:
data_total1.isnull().any() #ดูว่ามีค่า missing มั้ย จะเห็นว่ายังมี missing อยู่

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                       True
6 ภูมิภาค (ภูมิศาสตร์)        True
4 ภูมิภาค (การเมือง)          True
6 ภูมิภาค (อุตุนิยมวิทยา)     True
5 ภูมิภาค (การท่องเที่ยว)     True
name                          True
geometry                      True
dtype: bool

In [188]:
data_total1_drop = data_total1.dropna() #กำจัดค่า missng
data_total1_drop #แสดงค่า

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),name,geometry
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง,กลาง,กลาง,กลาง,ปทุมธานี,"POLYGON ((100.91242 14.21391, 100.90529 13.955..."
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สุราษฎร์ธานี,"MULTIPOLYGON (((99.70346 9.52131, 99.66814 9.5..."
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ขอนแก่น,"POLYGON ((103.11312 16.91282, 103.13420 16.885..."
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ร้อยเอ็ด,"POLYGON ((104.35588 16.32340, 104.32576 16.257..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361303,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361304,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361305,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."
2361306,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"POLYGON ((100.85537 13.69198, 100.71321 13.711..."

In [189]:
data_total1_drop.isnull().any() #ดูว่ายังมีค่า missng อยู่มั้ย

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
name                         False
geometry                     False
dtype: bool

# รวมตารางทั้งหมด

In [190]:
data_total2 = data_total1_drop.merge(data_5fill,how='left',left_on='announce_date',right_on='txn_date') #ทำการ merge โดยตาราง data_total1 อยู่ด้านซ้าย และ ตาราง data5re อยู่ด้านขวา เชื่อมกันด้วยวันที่
data_total2 #แสดงค่า age_number

,No.,announce_date,Notified date,sex,age,Unit,nationality_x,province_of_isolation,risk_x,province_of_onset,...,geometry,txn_date,gender,age_number,age_range,nationality_y,job,risk_y,patient_type,province
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,"POLYGON ((100.85537 13.69198, 100.71321 13.711...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,...,"POLYGON ((100.91242 14.21391, 100.90529 13.955...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,...,"MULTIPOLYGON (((99.70346 9.52131, 99.66814 9.5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,...,"POLYGON ((103.11312 16.91282, 103.13420 16.885...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,...,"POLYGON ((104.35588 16.32340, 104.32576 16.257...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421425,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,"POLYGON ((100.85537 13.69198, 100.71321 13.711...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421426,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,"POLYGON ((100.85537 13.69198, 100.71321 13.711...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421427,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,"POLYGON ((100.85537 13.69198, 100.71321 13.711...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421428,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,"POLYGON ((100.85537 13.69198, 100.71321 13.711...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421429,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,"POLYGON ((100.85537 13.69198, 100.71321 13.711...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
data_total2.isnull().any() #ดูว่ามีค่า missng มั้ย จะเห็นว่ายังมีค่า missing อยู่

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality_x                False
province_of_isolation        False
risk_x                       False
province_of_onset            False
district_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
name                         False
geometry                     False
txn_date                      True
gender                        True
age_number                    True
age_range                     True
nationality_y                 True
job                           True
risk_y                        True
patient_type                  True
province                      True
dtype: bool

In [192]:
data_total2_drop = data_total2.dropna() #กำจัดค่า missng
data_total2_drop #แสดงค่า

,No.,announce_date,Notified date,sex,age,Unit,nationality_x,province_of_isolation,risk_x,province_of_onset,...,geometry,txn_date,gender,age_number,age_range,nationality_y,job,risk_y,patient_type,province
20610,28864,1/4/2021,31/3/2021,ชาย,27.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,...,"POLYGON ((100.40078 13.49064, 100.33717 13.481...",1/4/2021,ชาย,29.0,20-29 ปี,Burma,รับจ้างทั่วไป / ฟรีแลนซ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,2.สัมผัสผู้ติดเชื้อ,กรุงเทพมหานคร
20611,28864,1/4/2021,31/3/2021,ชาย,27.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,...,"POLYGON ((100.40078 13.49064, 100.33717 13.481...",1/4/2021,ชาย,33.0,30-39 ปี,Thailand,ข้าราชการ/พนักงานของรัฐ / รัฐวิสาหกิจ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,2.สัมผัสผู้ติดเชื้อ,กรุงเทพมหานคร
20612,28864,1/4/2021,31/3/2021,ชาย,27.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,...,"POLYGON ((100.40078 13.49064, 100.33717 13.481...",1/4/2021,ชาย,24.0,20-29 ปี,Thailand,ไม่ระบุ,สถานบันเทิง,1.ผู้ป่วย PUI,กรุงเทพมหานคร
20613,28864,1/4/2021,31/3/2021,ชาย,27.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,...,"POLYGON ((100.40078 13.49064, 100.33717 13.481...",1/4/2021,หญิง,62.0,60-69 ปี,Thailand,ไม่ระบุ,State Quarantine,3.จากต่างประเทศ อยู่ใน Quarantine,กรุงเทพมหานคร
20614,28864,1/4/2021,31/3/2021,ชาย,27.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,...,"POLYGON ((100.40078 13.49064, 100.33717 13.481...",1/4/2021,ชาย,27.0,20-29 ปี,Burma,พนักงานบริษัท/โรงงาน,Cluster สมุทรสาคร,8.ขอตรวจหาเชื้อเอง,สมุทรสาคร
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112865,34324,13/4/2021,12/4/2021,หญิง,66.0,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,...,"MULTIPOLYGON (((100.19920 6.69941, 100.20983 6...",13/4/2021,หญิง,32.0,30-39 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
2112866,34324,13/4/2021,12/4/2021,หญิง,66.0,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,...,"MULTIPOLYGON (((100.19920 6.69941, 100.20983 6...",13/4/2021,ชาย,21.0,20-29 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
2112867,34324,13/4/2021,12/4/2021,หญิง,66.0,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,...,"MULTIPOLYGON (((100.19920 6.69941, 100.20983 6...",13/4/2021,หญิง,27.0,20-29 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
2112868,34324,13/4/2021,12/4/2021,หญิง,66.0,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,...,"MULTIPOLYGON (((100.19920 6.69941, 100.20983 6...",13/4/2021,หญิง,24.0,20-29 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่
2112869,34324,13/4/2021,12/4/2021,หญิง,66.0,ปี,Thailand,สงขลา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สงขลา,...,"MULTIPOLYGON (((100.19920 6.69941, 100.20983 6...",13/4/2021,ชาย,30.0,30-39 ปี,ไม่ระบุ,ไม่ระบุ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,7.สำรวจกลุ่มเสี่ยง (survey),เชียงใหม่

In [193]:
data_total2_drop.isnull().any() #ดูว่ามีค่า missng มั้ย จะเห็นว่ายังมีค่า missing อยู่

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality_x                False
province_of_isolation        False
risk_x                       False
province_of_onset            False
district_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
name                         False
geometry                     False
txn_date                     False
gender                       False
age_number                   False
age_range                    False
nationality_y                False
job                          False
risk_y                       False
patient_type                 False
province                     False
dtype: bool

### ดึงข้อมูลที่สนใจอยากจะแสดงใน dashboard ออกมา

#### อยากดูว่าในแต่ละจังหวัดมีจังหวัดไหนที่มีคนติดเชื้อมากที่สุด 10 ลำดับแรก

In [194]:
data_total2_drop = data_total2_drop.groupby('province_of_onset')['No.'].count()
data_total2_drop

province_of_onset
กระบี่             2545
กรุงเทพมหานคร    539207
กาญจนบุรี         15704
กาฬสินธุ์          1970
กำแพงเพชร          5735
                  ...
เพชรบุรี          31105
เพชรบูรณ์          6853
เลย                3530
แพร่               3156
แม่ฮ่องสอน         4889
Name: No., Length: 74, dtype: int64

In [195]:
data_total2_drop.sort_values()

province_of_onset
สิงห์บุรี             253
ยะลา                  554
น่าน                  559
นครพนม                789
สมุทรสงคราม          1772
                    ...
ปทุมธานี            89239
สมุทรปราการ        109970
ประจวบคีรีขันธ์    156790
ชลบุรี             312970
กรุงเทพมหานคร      539207
Name: No., Length: 74, dtype: int64

In [196]:
data_total2_drop = data_total2_drop.sort_values(ascending =False) #เติม ascending = False ให้เรียงจากมากไปน้อย
data_total2_drop

province_of_onset
กรุงเทพมหานคร      539207
ชลบุรี             312970
ประจวบคีรีขันธ์    156790
สมุทรปราการ        109970
ปทุมธานี            89239
                    ...
สมุทรสงคราม          1772
นครพนม                789
น่าน                  559
ยะลา                  554
สิงห์บุรี             253
Name: No., Length: 74, dtype: int64

In [197]:
data_total2_drop_top10 = pd.DataFrame(data_total2_drop)
data_total2_drop_top10

                      No.
province_of_onset
กรุงเทพมหานคร      539207
ชลบุรี             312970
ประจวบคีรีขันธ์    156790
สมุทรปราการ        109970
ปทุมธานี            89239
...                   ...
สมุทรสงคราม          1772
นครพนม                789
น่าน                  559
ยะลา                  554
สิงห์บุรี             253

[74 rows x 1 columns]