<a href="https://colab.research.google.com/github/Umaporn19/data_viz_2022/blob/main/shopee_October_shopee_January_xlsx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd #import panda เพื่อจัดการตาราง
import os

In [31]:
from google.colab import drive #เป็นการนำข้อมูลเพิ่มเข้าไปที่colab
drive.mount('/content/drive') 
path = '/content/drive/My Drive/data_jknow' #เชื่อมกับไดร์ฟ

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
%cd /content/drive/MyDrive/data_jknow #ชี้ที่อยู่ของไฟล์

[Errno 2] No such file or directory: '/content/drive/MyDrive/data_jknow #ชี้ที่อยู่ของไฟล์'
/content

In [33]:
data_file_path = os.path.join(path,'shopee_October - shopee_January.xlsx') 
data = pd.read_excel(data_file_path)

In [34]:
data

,วันที่,ยอดขายทั้งหมด (THB),คำสั่งซื้อทั้งหมด,ยอดขายเฉลี่ยต่อคำสั่งซื้อ,ยอดเข้าชม,จำนวนผู้เยี่ยมชม,อัตราการซื้อสินค้า (จากคำสั่งซื้อที่ชำระเงิน),คำสั่งซื้อที่ยกเลิก,ยอดขายที่ยกเลิก,คำสั่งซื้อที่คืนเงิน/คืนสินค้า,ยอดขายที่คืนเงิน/คืนสินค้า
0,01-10-2021 00:00,0,0,0.00,5,2,0.00%,0,0,0,0
1,01-10-2021 01:00,0,0,0.00,15,3,0.00%,0,0,0,0
2,01-10-2021 02:00,0,0,0.00,0,0,0.00%,0,0,0,0
3,01-10-2021 03:00,0,0,0.00,0,0,0.00%,0,0,0,0
4,01-10-2021 04:00,0,0,0.00,4,1,0.00%,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2899,31-01-2022 19:00,0,0,0.00,167,59,0.00%,0,0,0,0
2900,31-01-2022 20:00,980,2,490.00,183,70,2.86%,0,0,0,0
2901,31-01-2022 21:00,980,2,490.00,172,63,3.17%,0,0,0,0
2902,31-01-2022 22:00,0,0,0.00,112,56,0.00%,0,0,0,0
2903,31-01-2022 23:00,490,1,490.00,178,57,1.75%,0,0,0,0

In [35]:
data.dtypes

วันที่                                           object
ยอดขายทั้งหมด (THB)                              object
คำสั่งซื้อทั้งหมด                                 int64
ยอดขายเฉลี่ยต่อคำสั่งซื้อ                        object
ยอดเข้าชม                                         int64
จำนวนผู้เยี่ยมชม                                  int64
อัตราการซื้อสินค้า (จากคำสั่งซื้อที่ชำระเงิน)    object
คำสั่งซื้อที่ยกเลิก                               int64
ยอดขายที่ยกเลิก                                  object
คำสั่งซื้อที่คืนเงิน/คืนสินค้า                    int64
ยอดขายที่คืนเงิน/คืนสินค้า                        int64
dtype: object

In [36]:
from datetime import datetime

In [37]:
data['วันที่'] = pd.to_datetime(data['วันที่'],format="%Y-%m-%d",errors='coerce')
data

,วันที่,ยอดขายทั้งหมด (THB),คำสั่งซื้อทั้งหมด,ยอดขายเฉลี่ยต่อคำสั่งซื้อ,ยอดเข้าชม,จำนวนผู้เยี่ยมชม,อัตราการซื้อสินค้า (จากคำสั่งซื้อที่ชำระเงิน),คำสั่งซื้อที่ยกเลิก,ยอดขายที่ยกเลิก,คำสั่งซื้อที่คืนเงิน/คืนสินค้า,ยอดขายที่คืนเงิน/คืนสินค้า
0,NaT,0,0,0.00,5,2,0.00%,0,0,0,0
1,NaT,0,0,0.00,15,3,0.00%,0,0,0,0
2,NaT,0,0,0.00,0,0,0.00%,0,0,0,0
3,NaT,0,0,0.00,0,0,0.00%,0,0,0,0
4,NaT,0,0,0.00,4,1,0.00%,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2899,NaT,0,0,0.00,167,59,0.00%,0,0,0,0
2900,NaT,980,2,490.00,183,70,2.86%,0,0,0,0
2901,NaT,980,2,490.00,172,63,3.17%,0,0,0,0
2902,NaT,0,0,0.00,112,56,0.00%,0,0,0,0
2903,NaT,490,1,490.00,178,57,1.75%,0,0,0,0

In [38]:
data.dtypes

วันที่                                           datetime64[ns]
ยอดขายทั้งหมด (THB)                                      object
คำสั่งซื้อทั้งหมด                                         int64
ยอดขายเฉลี่ยต่อคำสั่งซื้อ                                object
ยอดเข้าชม                                                 int64
จำนวนผู้เยี่ยมชม                                          int64
อัตราการซื้อสินค้า (จากคำสั่งซื้อที่ชำระเงิน)            object
คำสั่งซื้อที่ยกเลิก                                       int64
ยอดขายที่ยกเลิก                                          object
คำสั่งซื้อที่คืนเงิน/คืนสินค้า                            int64
ยอดขายที่คืนเงิน/คืนสินค้า                                int64
dtype: object

In [39]:
data.to_csv('shopee_October - shopee_January.xlsx', encoding='utf-8')